In [3]:
from __future__ import print_function
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import glob
%matplotlib inline

In [4]:
def get_date(date_number):
    dstring = str(date_number)
    return pd.datetime(int(dstring[0:4]),int(dstring[4:6]),int(dstring[6:8]))


def read_precip(fpath, prcp):
    print(fpath)
    for file in glob.glob(fpath):
        data_in = pd.read_csv(file)
        print(data_in.STATION_NAME[0])
        prcp[data_in.STATION_NAME[0]] = data_in.PRCP 
        get_date(data_in.DATE[0])
        dates = [get_date(day) for day in data_in.DATE]
        
    return pd.DataFrame(prcp)#, dates)

In [5]:
 #for name in glob.glob('Data/*'):
#  print (name)

In [6]:
pd.set_option('display.column_space', 25)
prcp={}
df = read_precip(fpath="Data/*", prcp=prcp)

Data/*
MOMBASA KE
MALINDI KE
GARISSA KE
JOMO KENYATTA INTERNATIONAL KE
NAIROBI DAGORETTI KE
ELDORET INTERNATIONAL KE
KITALE KE
LODWAR KE
MOYALE KE
MANDERA KE
JUBA OD
MWANZA TZ
DAR ES SALAAM AIRPORT TZ
TABORA AIRPORT TZ
DODOMA TZ
KIGALI INTERNATIONAL RW
ADDIS ABABA BOLE ET
JIMMA ET
DIREDAWA ET
GONDAR ET
GORE ET

In [7]:
df.describe()

,ADDIS ABABA BOLE ET,DAR ES SALAAM AIRPORT TZ,DIREDAWA ET,DODOMA TZ,ELDORET INTERNATIONAL KE,GARISSA KE,GONDAR ET,GORE ET,JIMMA ET,JOMO KENYATTA INTERNATIONAL KE,...,KIGALI INTERNATIONAL RW,KITALE KE,LODWAR KE,MALINDI KE,MANDERA KE,MOMBASA KE,MOYALE KE,MWANZA TZ,NAIROBI DAGORETTI KE,TABORA AIRPORT TZ
count,15509.00000,18707.000000,17218.000000,7583.000000,7193.000000,20495.000000,14980.000000,14967.000000,15809.000000,20665.000000,...,5724.000000,13407.000000,12523.000000,9050.000000,16301.000000,20845.000000,3920.00000,19716.000000,5237.000000,18508.000000
mean,-2085.88626,-2137.755813,-1558.403357,-6366.680601,-3413.884471,-1861.140327,-1002.614753,-500.952562,-859.856031,-1754.843600,...,-3869.132250,-2986.816439,-4853.696399,-3329.919006,-623.470585,-1333.215783,16.24898,-1248.426811,-3475.139775,-1436.275448
std,4098.21258,4138.291321,3651.025662,4826.525114,4770.759698,3905.799907,3056.219968,2317.059969,2876.647159,3831.437499,...,4902.634819,4611.456076,5003.580055,4742.774630,2434.261325,3443.831924,74.11375,3350.460521,4793.318660,3543.573448
min,-9999.00000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,...,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,0.00000,-9999.000000,-9999.000000,-9999.000000
25%,0.00000,0.000000,0.000000,-9999.000000,-9999.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-9999.000000,-9999.000000,-9999.000000,-9999.000000,0.000000,0.000000,0.00000,0.000000,-9999.000000,0.000000
50%,0.00000,0.000000,0.000000,-9999.000000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
75%,20.00000,0.000000,0.000000,0.000000,10.000000,0.000000,25.000000,79.000000,49.000000,0.000000,...,5.000000,20.000000,0.000000,5.000000,0.000000,10.000000,0.00000,8.000000,3.000000,3.000000
max,3703.00000,4399.000000,1521.000000,3396.000000,3800.000000,4625.000000,2921.000000,1699.000000,2802.000000,3515.000000,...,2901.000000,4900.000000,2997.000000,4011.000000,1821.000000,2330.000000,1676.00000,2799.000000,4618.000000,1618.000000

In [ ]:
df.columns

In [ ]:
#Results = pd.concat([df[column] for column in df.columns()],axis=1)
Results =pd.concat([df['ADDIS ABABA BOLE ET'], df['DAR ES SALAAM AIRPORT TZ'], df['DIREDAWA ET'], df['DODOMA TZ'], df['ELDORET INTERNATIONAL KE'], df['GARISSA KE'], df['GONDAR ET'], df['GORE ET'], df['JIMMA ET'], df['JOMO KENYATTA INTERNATIONAL KE'], df['JUBA OD'], df['KIGALI INTERNATIONAL RW'],df['KITALE KE'], df['LODWAR KE'], df['MALINDI KE'], df['MANDERA KE'], df['MOMBASA KE'], df['MOYALE KE'], df['MWANZA TZ'], df['NAIROBI DAGORETTI KE'], df['TABORA AIRPORT TZ']], axis=1)
Results.head()

In [ ]:
### why are they displaying as NaN when they are not Missing Numbers ????????
Results.tail()

In [ ]:
mask = Results != -9999
plt.plot(Results.index, Results[mask].values)
plt.ylabel(r"$\frac{1}{10}$mm day$^{-1}$")
plt.xlabel(r"Days")
plt.legend(df.columns)
plt.title('GHCN EAST AFRICA DAILY RAINFALL TOTALS', fontsize=18)

In [ ]:
#df.dtypes